body{
	background:#f4f4f4;
}
#img{
	width:1348px;
	margin:5px auto;

}

#img div{
	width:337px;
	height:261px;
	text-align:center;
	float:left;
	overflow:hidden;
}
#img div img{
	transition:all 0.5s;
}
#img div img:hover{
	transform:scale(1.2);
}